<!--
  Generated template for the ReportProfit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>利润表</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="report">
      <ion-segment-button value="reportType" (ionSelect)="selectClass()">分类</ion-segment-button>
      <ion-segment-button value="reportMonth" (ionSelect)="selectMonth()">月度</ion-segment-button>
      <ion-segment-button value="reportQuarter" (ionSelect)="selectQuarter()">季度</ion-segment-button>

    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>选择日期</ion-label>
    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="myDate"
                  monthNames="一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月"
                  monthShortNames="一月,二月,三月,四月,五月,六月,七月,八月,九月,十月,十一月,十二月"
                  cancelText="取消"
                  doneText="确定">
    </ion-datetime>
  </ion-item>

  <div [ngSwitch]="report">

    <ion-list inset *ngSwitchCase="'reportType'">
      <ion-item *ngFor="let item of classList">
        <ion-row>
          <ion-col width-50 style="font-size: 9px; text-align: left;">{{item.name}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: center; color: green">{{item.sum}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: right;">{{item.percent}}</ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

    <ion-list inset *ngSwitchCase="'reportMonth'">
      <ion-item *ngFor="let item of monthList">
        <ion-row>
          <ion-col width-50 style="font-size: 9px; text-align: left;">{{item.date}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: center; color: green">{{item.sum}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: right;">{{item.percent}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list inset *ngSwitchCase="'reportQuarter'">
      <ion-item *ngFor="let item of quaterList">
        <ion-row>
          <ion-col width-50 style="font-size: 9px; text-align: left;">{{item.date}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: center; color: green">{{item.sum}}</ion-col>
          <ion-col width-25 style="font-size: 9px; text-align: right;">{{item.percent}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>



  </div>

</ion-content>

<ion-footer>
  <div [hidden]="!isValidClass">
    <ion-label item-left text-left>分类总计：￥{{totalSum}}</ion-label>
  </div>
  <div [hidden]="!isValidMonth">
    <ion-label item-left text-left>月总计：￥{{totalSumMonth}}</ion-label>
  </div>
  <div [hidden]="!isValidQuater">
    <ion-label item-left text-left>季度总计：￥{{totalSumMonth}}</ion-label>
  </div>
</ion-footer>
