<!--
  Generated template for the BillsList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-icon [name]="myIcon"></ion-icon>
      收款付款
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="charging">
      <ion-segment-button value="contract">销售</ion-segment-button>
      <ion-segment-button value="order">采购</ion-segment-button>
      <ion-segment-button value="expense">报销</ion-segment-button>
      <ion-segment-button value="raise">筹资</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="charging">

    <ion-list inset *ngSwitchCase="'contract'">
      <ion-item-divider light>{{billTime1}}</ion-item-divider>
      <ion-item *ngFor="let item of contractitems1" (click)="itemSelected(items1)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item-divider light>{{billTime2}}</ion-item-divider>
      <ion-item *ngFor="let item of contractitems2" (click)="itemSelected(items2)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

    <ion-list inset *ngSwitchCase="'order'">
      <ion-item-divider light>{{billTime1}}</ion-item-divider>
      <ion-item *ngFor="let item of orderitems1" (click)="itemSelected(items1)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item-divider light>{{billTime2}}</ion-item-divider>
      <ion-item *ngFor="let item of orderitems2" (click)="itemSelected(items2)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

    <ion-list inset *ngSwitchCase="'expense'">
      <ion-item-divider light>{{billTime1}}</ion-item-divider>
      <ion-item *ngFor="let item of expenseitems1" (click)="itemSelected(items1)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item-divider light>{{billTime2}}</ion-item-divider>
      <ion-item *ngFor="let item of expenseitems2" (click)="itemSelected(items2)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

    <ion-list inset *ngSwitchCase="'raise'">
      <ion-item-divider light>{{billTime1}}</ion-item-divider>
      <ion-item *ngFor="let item of raiseitems1" (click)="itemSelected(items1)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item-divider light>{{billTime2}}</ion-item-divider>
      <ion-item *ngFor="let item of raiseitems2" (click)="itemSelected(items2)">
        <ion-row>
          <ion-col width-62>
            <h2>{{item.customer}}</h2>
          </ion-col>
          <ion-col width-38 text-right>
            总价：￥<span color="danger">{{item.total}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-note>{{item.billno}}</ion-note>
          </ion-col>
          <ion-col center text-center>
            <ion-badge>{{item.dateissue}}</ion-badge>
          </ion-col>
          <ion-col center text-right>
            <span item-right color="primary">{{item.billstate}}</span>
          </ion-col>
        </ion-row>
      </ion-item>


    </ion-list>

  </div>

</ion-content>
